namespace: "dev"

deployment:
  replicas: 1
  serviceName: "spring-petclinic"

image:
  repository: "docker.io/ngocle101"
  tag: "latest"
  imagePullPolicy: "IfNotPresent"

service:
  servicePort: 8080
  type: "ClusterIP"

vetsService:
  version: "1.0.0"
visitsService:
  version: "1.0.0"
discoveryServer:
  version: "1.0.0"
customersService:
  version: "1.0.0"
configServer:
  version: "1.0.0"
apiGateway:
  version: "1.0.0"
adminServer:
  version: "1.0.0"
genaiService:
  version: "1.0.0"

prometheus:
  image:
    repository: "ngocle101/prometheus"
    tag: "v1.0.8" # with istio updated
  service:
    type: "LoadBalancer"
    port: 9090
