namespace: dev
services:
  config-server:
    deployment:
      serviceName: spring-petclinic-config-server
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-config-server
      tag: latest
    service:
      name: config-server
      servicePort: 8888
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
  discovery-server:
    deployment:
      serviceName: spring-petclinic-discovery-server
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-discovery-server
      tag: 1f85d94
    service:
      name: discovery-server
      servicePort: 8761
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
  api-gateway:
    deployment:
      serviceName: spring-petclinic-api-gateway
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-api-gateway
      tag: d71a6ff
    service:
      name: api-gateway
      servicePort: 8080
      type: LoadBalancer
    resources:
      limits:
        cpu: 300m
        memory: 512Mi
      requests:
        cpu: 150m
        memory: 256Mi
  customers-service:
    deployment:
      serviceName: spring-petclinic-customers-service
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-customers-service
      tag: 1f85d94
    service:
      name: customers-service
      servicePort: 8081
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
  vets-service:
    deployment:
      serviceName: spring-petclinic-vets-service
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-vets-service
      tag: 1f85d94
    service:
      name: vets-service
      servicePort: 8083
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
  visits-service:
    deployment:
      serviceName: spring-petclinic-visits-service
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-visits-service
      tag: 1f85d94
    service:
      name: visits-service
      servicePort: 8082
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
  tracing-server:
    deployment:
      serviceName: tracing-server
      replicas: 1
    image:
      repository: openzipkin/zipkin
      tag: latest
    service:
      name: tracing-server
      servicePort: 9411
      type: LoadBalancer
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  grafana-server:
    deployment:
      serviceName: grafana-server
      replicas: 1
    image:
      repository: ngocle101/grafana
      tag: v1.1
    service:
      name: grafana-server
      servicePort: 3000
      type: LoadBalancer
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
