namespace: dev
istio:
  ingress:
    enabled: true
    tls:
      enabled: false
      secretName: petclinic-tls-secret
  authorization:
    enabled: true
mtls:
  mode: STRICT
services:
  config-server:
    deployment:
      serviceName: spring-petclinic-config-server
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-config-server
      tag: f4dd043
    service:
      name: config-server
      servicePort: 8888
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
    authorization:
      allowFrom:
        - serviceAccount: spring-petclinic-discovery-server
        - serviceAccount: spring-petclinic-api-gateway
        - serviceAccount: spring-petclinic-customers-service
        - serviceAccount: spring-petclinic-vets-service
        - serviceAccount: spring-petclinic-visits-service
      methods:
        - GET
        - POST
  discovery-server:
    deployment:
      serviceName: spring-petclinic-discovery-server
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-discovery-server
      tag: 1f85d94
    service:
      name: discovery-server
      servicePort: 8761
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
    authorization:
      allowFrom:
        - serviceAccount: spring-petclinic-api-gateway
        - serviceAccount: spring-petclinic-customers-service
        - serviceAccount: spring-petclinic-vets-service
        - serviceAccount: spring-petclinic-visits-service
      methods:
        - GET
        - POST
        - PUT
        - DELETE
  api-gateway:
    deployment:
      serviceName: spring-petclinic-api-gateway
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-api-gateway
      tag: 5ea624a
    service:
      name: api-gateway
      servicePort: 8080
      type: ClusterIP
    resources:
      limits:
        cpu: 300m
        memory: 512Mi
      requests:
        cpu: 150m
        memory: 256Mi
    authorization:
      allowFrom:
        - serviceAccount: istio-ingress
          namespace: istio-system
        - serviceAccount: tracing-server
        - serviceAccount: prometheus-server
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
  customers-service:
    deployment:
      serviceName: spring-petclinic-customers-service
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-customers-service
      tag: 835be2b
    service:
      name: customers-service
      servicePort: 8081
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
    retries:
      enable: true
      attempts: 3
      perTryTimeout: 2s
    authorization:
      allowFrom:
        - serviceAccount: spring-petclinic-api-gateway
        - serviceAccount: tracing-server
        - serviceAccount: prometheus-server
        - serviceAccount: spring-petclinic-discovery-server
      methods:
        - GET
        - POST
        - PUT
        - DELETE
  vets-service:
    deployment:
      serviceName: spring-petclinic-vets-service
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-vets-service
      tag: 1f85d94
    service:
      name: vets-service
      servicePort: 8083
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
    authorization:
      allowFrom:
        - serviceAccount: spring-petclinic-api-gateway
        - serviceAccount: tracing-server
        - serviceAccount: prometheus-server
        - serviceAccount: spring-petclinic-discovery-server
      methods:
        - GET
        - POST
        - PUT
        - DELETE
  visits-service:
    deployment:
      serviceName: spring-petclinic-visits-service
      replicas: 1
    image:
      repository: ngocle101/spring-petclinic-visits-service
      tag: 1f85d94
    service:
      name: visits-service
      servicePort: 8082
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 768Mi
      requests:
        cpu: 200m
        memory: 512Mi
    authorization:
      allowFrom:
        - serviceAccount: spring-petclinic-api-gateway
        - serviceAccount: tracing-server
        - serviceAccount: prometheus-server
        - serviceAccount: spring-petclinic-discovery-server
      methods:
        - GET
        - POST
        - PUT
        - DELETE
  tracing-server:
    deployment:
      serviceName: tracing-server
      replicas: 1
    image:
      repository: openzipkin/zipkin
      tag: latest
    service:
      name: tracing-server
      servicePort: 9411
      type: ClusterIP
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
    authorization:
      allowFrom:
        - serviceAccount: istio-ingress
          namespace: istio-system
      methods:
        - GET
        - POST
  grafana-server:
    deployment:
      serviceName: grafana-server
      replicas: 1
    image:
      repository: ngocle101/grafana
      tag: v1.1
    service:
      name: grafana-server
      servicePort: 3000
      type: ClusterIP
    resources:
      limits:
        cpu: 200m
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
    authorization:
      allowFrom:
        - serviceAccount: istio-ingress
          namespace: istio-system
      methods:
        - GET
        - POST
        - PUT
        - DELETE
        - PATCH
        - OPTIONS
  prometheus-server:
    deployment:
      serviceName: prometheus-server
      replicas: 1
    image:
      repository: ngocle101/prometheus
      tag: v1.0.9
    service:
      name: prometheus-service
      servicePort: 9090
      type: ClusterIP
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 200m
        memory: 256Mi
    authorization:
      allowFrom:
        - serviceAccount: istio-ingress
          namespace: istio-system
        - serviceAccount: kiali
          namespace: istio-system
      methods:
        - GET
        - POST
