apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kiali
  namespace: argocd
spec:
  project: default

  sources:
    - repoURL: https://kiali.org/helm-charts
      chart: kiali-server
      targetRevision: 1.79.0   # pin version!
      helm:
        valueFiles:
          - $values/kiali/values.yaml 
    - repoURL: https://github.com/NgocLe-101/spring-petclinic-helm-charts.git
      targetRevision: main   # pin version!
      ref: values

  destination:
    server: https://kubernetes.default.svc
    namespace: istio-system

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

