{{- range $name, $svc := .Values.services }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $svc.service.name }}-deployment
  namespace: {{ $.Values.namespace }}
  labels:
    app: {{ $svc.deployment.serviceName }}
spec:
  selector:
    matchLabels:
      app: {{ $svc.deployment.serviceName }}
  replicas: {{ $svc.deployment.replicas }}
  template:
    metadata:
      labels:
        app: {{ $svc.deployment.serviceName }}
    spec:
      serviceAccountName: {{ $svc.deployment.serviceName }}
      containers:
      - name: {{ $svc.deployment.serviceName }}
        image: "{{ $svc.image.repository }}:{{ $svc.image.tag }}"
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: {{ $svc.service.servicePort }}
        resources:
          limits:
            cpu: {{ $svc.resources.limits.cpu | default "500m" }}
            memory: {{ $svc.resources.limits.memory | default "768Mi" }}
          requests:
            cpu: {{ $svc.resources.requests.cpu | default "200m" }}
            memory: {{ $svc.resources.requests.memory | default "512Mi" }}
{{- end }}
