{{- range $name, $svc := .Values.services }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $svc.service.name }}-deployment
  namespace: {{ $.Values.namespace }}
  labels:
    app: {{ $svc.deployment.serviceName }}
spec:
  selector:
    matchLabels:
      app: {{ $svc.deployment.serviceName }}
  replicas: {{ $svc.deployment.replicas }}
  template:
    metadata:
      labels:
        app: {{ $svc.deployment.serviceName }}
    spec:
      containers:
      - name: {{ $svc.deployment.serviceName }}
        image: "{{ $svc.image.repository }}:{{ $svc.image.tag }}"
        imagePullPolicy: IfNotPresent
        ports:
          - containerPort: {{ $svc.service.servicePort }}
        {{- if $svc.resources }}
        resources:
          {{- toYaml $svc.resources | nindent 10 }}
        {{- end }}
        {{- if $svc.livenessProbe }}
        livenessProbe:
          {{- toYaml $svc.livenessProbe | nindent 10 }}
        {{- end }}
        {{- if $svc.readinessProbe }}
        readinessProbe:
          {{- toYaml $svc.readinessProbe | nindent 10 }}
        {{- end }}
{{- end }}
